<p>
  app1 works!
</p>
  <table border="1"  appDirectiveTest>
    <tr><th>序號</th><th>員工編號</th><th>姓名</th><th>註冊日期</th></tr>
    <tr *ngFor="let data of datas;let index=index">
        <td>{{index+1}} </td>
      <td>{{data.id}} </td>
      <td>{{data.name }}</td>
      <td>{{data.birthday | date:'yyyy年MM月dd日 HH:mm'}}</td>
    </tr>
  </table>
<!-- <div *ngIf="userData">
<input name="userData.id" [(ngModel)]="id">
    {{userData.id}}
  </div> -->
  <div >
  <label>id:
      <input [(ngModel)]="userData.id" placeholder="請輸入員編">
    </label>
    <label>name:
        <input [(ngModel)]="userData.name" placeholder="請輸入姓名">
      </label>
      <label>birthday:
          <input [(ngModel)]="userData.birthday" placeholder="請輸入生日">
        </label><br>
        員編:{{userData.id}}<br>
    姓名:{{userData.name}}<br>
    生日:{{userData.birthday}}<br>
    <button (click)="onSubmitClick1()">取得資料</button>
  </div>
******************************************************************************<br><br>
  請按Enter或get來取得此DOM的值<input #domtest (keyup.enter)="onSubmitClick2()">
  <button (click)="onSubmitClick2()">get</button><br>
  結果:{{testValue}}